<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <button class="btn btn-ghost-primary" routerLink="/admin/user/builder">New</button>
    </div>
    <div class="card-body no-padding">
      <ngx-datatable
          class="material table-full-width"
          [rows]='rows'
          [columns]="columns"
          [loadingIndicator]="loadingIndicator"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [scrollbarV]="true">
      </ngx-datatable>
    </div>
  </div>
</div>
